@import './base.css';
@import url('https://googleapis.com');

:root {
  --font-headings: 'Comfortaa', cursive;
  --font-base: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-base);
  background-color: #121212;
  background-image: url('/src/assets/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e0e0e0;
}

h1, h2, h3 {
  font-family: var(--font-headings);
  font-weight: 700;
  letter-spacing: -0.5px;
}

#app {
  max-width: 1200px;
  width: 100%;
  min-height: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: #121212;
}

a,.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column; /* Выстраиваем контент в колонку сверху вниз */
    justify-content: flex-start; /* Прижимаем строго к верху */
    align-items: center; /* Центрируем по горизонтали */
    min-height: 100vh;
  }
  #app {
    
    padding: 0 2rem;
  }
}
